# Node
frontend/node_modules/
frontend/dist/

# Java
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar

# Eclipse
backend/.classpath
backend/.project
backend/.settings/

# VS Code
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Environment
.env